<div >
    <div ng-if="!controller.isLoggedIn">
        <form ng-disabled="controller.isLoggingIn" name="loginForm" ng-submit="controller.login()" novalidate>
            <label for="username">Username:</label>
            <input type="text"
                   id="username"
                   ng-disabled="controller.isLoggingIn"
                   ng-model="credentials.username">
            <label for="password">Password:</label>
            <input type="password"
                   id="password"
                   ng-disabled="controller.isLoggingIn"
                   ng-model="credentials.password">
            <button type="submit"
                    ng-disabled="controller.isLoggingIn">Login</button>

            <label ng-if="controller.isFailed">Login failed. Please try again.</label>
        </form>
    </div>

    <div ng-if="controller.isLoggedIn">
        Logged in as {{controller.loggedInUserName}}
        <button ng-click="controller.logout()">Logout</button>
    </div>
</div>